.HomeSection__container{
    display: flex;
    align-items: center;
    height: 100vh;
}
.HomeSection__container-box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3vw 4vw;
}
@media screen and (max-width: 767px){
    .HomeSection__container-box{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
}
.container__box-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 7vw;
    width: 50%;
    height: 100%;
}
@media screen and (max-width: 767px){
    .container__box-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 0;
        padding-top: 2vw;
    }
} 

.box__info-h2{
    font-size: 3.5em;
    margin-bottom: 2vw;
}
@media screen and (max-width: 767px){
    .box__info-h2{
        font-size: 5vw;
        margin-bottom: 3vw;
    }
}
@media screen and (max-width: 500px){
    .box__info-h2{
        font-size: 5vw;
        margin-bottom: 4vw;
    }
}

.box__info-p{
    font-size: 1.8vw;
    margin-bottom: 2vw;
}
@media screen and (max-width: 767px){
    .box__info-p{
        font-size: 2.5vw;
        margin-bottom: 3vw;
    }
}
@media screen and (max-width: 500px){
    .box__info-p{
        font-size: 3.2vw;
        margin-bottom: 4vw;
    }
}
.box__info-btn{
    background-image: linear-gradient(143deg,#4657af,#a459e1 80%);
    border-radius: 10em;
    border: none;
    color: #fff;
    font-size: 1em;
    text-align: center;
    padding: 1.5vw 3vw;
}

/* Box donde ira animacion 3D ilustrativa */
.container__box-sample{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}
@media screen and (max-width: 767px){
    .container__box-sample{
        padding: 5vw 0vw;
    }
}
@media screen and (max-width: 500px){
    .container__box-sample{
        padding: 5vw 0vw;
    }
}
.box__sample-div{
    width: 30vw;
    height: 30vw;
    border: none;
    border-radius: 1vw;
    background-image: url('https://i.pinimg.com/564x/6a/ce/6e/6ace6eeb177a1f953182ad3f3f59675a.jpg');
    background-size: contain;
}
@media screen and (max-width: 767px){
    .box__sample-div{
        width: 40vw;
        height: 40vw;
    }
}
@media screen and (max-width: 500px){
    .box__sample-div{
        width: 60vw;
        height: 60vw;
    }
}