/* Container */
.HomeSection__container{
    width: 100vw;
    height: 100vh;
    
}
.HomeSection__container-box{
    display: flex;
    align-items: center;

    width: 100vw;
    height: 80%;
    padding: 7vw;
}

/* Box Info*/
.container__box-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding-right: 10vw;
    width: 50%;
}
.box__info-h2{
    font-size: 5vw;
    line-height: 5vw;
    margin-bottom: 3vw;
}
.box__info-p{
    font-size: 1.5vw;
    margin-bottom: 3vw;
}
.box__info-btn{
    width: 25vw;
    height: 4.5vw;
    color: #fff;

    border-radius: 10em;
    background-color: transparent;
    background-image: linear-gradient(143deg,#4657af,#a459e1 80%);
    border: none;
}



/* Box Img */
.container__box-img{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 50%;
}
.box__sample-div{
    width: 30vw;
    height: 30vw;
    border: 1vw solid #000000;
}