/* Containers */
.PhoneSection__container{
    height: 100%;
    background: linear-gradient(180deg,#cea8dd,#FFF 90%);

}
.PhoneSection__container-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3vw 4vw;
    height: 100%;
}

/* Box Info */
.PhoneSection__container-box-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 100%;
    height: 100%;
}

/* Text information */
.PhoneSection__container-box-info-h2{
    font-size: 3.5em;
    margin-bottom: 2vw;
}
@media screen and (max-width: 767px){
    .PhoneSection__container-box-info-h2{
        font-size: 3em;
        margin-bottom: 3vw;
    }
}
@media screen and (max-width: 500px){
    .PhoneSection__container-box-info-h2{
        font-size: 2em;
        margin-bottom: 4vw;
    }
}

.PhoneSection__container-box-info-p{
    font-size: 1.5em;
    margin-bottom: 2vw;
}
@media screen and (max-width: 767px){
    .PhoneSection__container-box-info-p{
        font-size: 1.2em;
        margin-bottom: 3vw;
    }
}
@media screen and (max-width: 500px){
    .PhoneSection__container-box-info-p{
        font-size: 1em;
        margin-bottom: 4vw;
    }
}
.PhoneSection__container-box-info-btn{
    background-image: linear-gradient(143deg,#4657af,#a459e1 80%);
    font-size: 1.2vw !important;
    font-weight: 600 !important;
    letter-spacing: 2px !important;
}
@media screen and (max-width: 767px){
    .PhoneSection__container-box-info-btn{
        width: 40vw;
        height: 10vh;
        font-size: 1.5vw !important;
    }
}
@media screen and (max-width: 500px){
    .PhoneSection__container-box-info-btn{
        width: 60vw;
        height: 10vh;
        font-size: 2vw !important;
    }
}

/* Box Animation 3D */
.PhoneSection__container-box-animation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 3vw 0;
}
.PhoneSection__container-box-animation-video{
    width: 300px;
    height: 300px;
    border-radius: 1vw;
    background-image: url('https://i.pinimg.com/564x/dc/9e/e9/dc9ee90fa24b1720903863b3a3df0477.jpg');
    background-size: cover;
    border: #4657af solid;
}
@media screen and (max-width: 767px){
    .PhoneSection__container-box-animation-video{
        width: 250px;
        height: 250px;
    }
}
@media screen and (max-width: 500px){
    .PhoneSection__container-box-animation-video{
        width: 200px;
        height: 200px;
    }
}
