.VideoSection__container{
    width: 100vw;
    height: 100vh;
}
.VideoSection__container{
    background-image: url('https://i.pinimg.com/564x/fc/77/4c/fc774c14e7834c18e8d6cc4732f094c1.jpg');
    background-size: cover;
}