/* Containers */
.ContentSection__container{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(180deg,#f7f4f1,#fff);  
}
.ContentSection__container-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/* Box Info */
.ContentSection__container-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 5vw;
    padding-top: 5vw;
}
@media screen and (max-width: 767px){
    .container__box-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.info-h2{
    font-size: 5vw;
    text-align: center;
    margin-bottom: 2vw;
}
@media screen and (max-width: 767px){
    .info-h2{
        font-size: 5vw;
        margin-bottom: 3vw;
    }
}
@media screen and (max-width: 500px){
    .info-h2{
        font-size: 5vw;
        margin-bottom: 4vw;
    }
}

.info-p{
    font-size: 1.8vw;
    margin-bottom: 2vw;
}
@media screen and (max-width: 767px){
    .info-p{
        font-size: 2.5vw;
        margin-bottom: 3vw;
    }
}
@media screen and (max-width: 500px){
    .info-p{
        font-size: 3.2vw;
        margin-bottom: 4vw;
    }
}
.info-btn{
    background-image: linear-gradient(143deg,#4657af,#a459e1 80%);
    border-radius: 10em;
    border: none;
    color: #fff;
    font-size: 1em;
    text-align: center;
    padding: 1.5vw 3vw;
}

/* Box donde ira animacion 3D ilustrativa */
.container__box-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
@media screen and (max-width: 767px){
    .container__box-div{
        padding: 0;
        padding-bottom: 5vw;
    }
}
@media screen and (max-width: 500px){
    .container__box-div{
        padding: 0;
        padding-bottom: 7vw;
    }
}
.box-div{
    width: 30vw;
    height: 30vw;
    border: none;
    border-radius: 1vw;
    background-image: url('https://i.pinimg.com/564x/3d/70/b4/3d70b44b01e5daf06e82f045fb50c9e9.jpg');
    background-size: cover;
}
@media screen and (max-width: 767px){
    .box-div{
        width: 40vw;
        height: 40vw;
    }
}
@media screen and (max-width: 500px){
    .box-div{
        width: 60vw;
        height: 60vw;
    }
}